.main {
    display: flex;
    margin: auto;
}
.main_container {
    display: flex;
    margin: auto;
}
.main_part {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-decoration: none;
    color: black;
}

.main_part-left {
     border-right: 2px solid black;
     transition: 1s;
}
.main_title {
    font-size: 30px;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 0;
}

.main_subtitle {
    font-size: 28px;
}

.main_title:hover {
    font-size: 38px;
}